@font-face {
  font-family: 'iconfont';  /* Project id 3707996 */
  src: url('//at.alicdn.com/t/c/font_3707996_thy6b906b8h.woff2?t=1683785614327') format('woff2'),
       url('//at.alicdn.com/t/c/font_3707996_thy6b906b8h.woff?t=1683785614327') format('woff'),
       url('//at.alicdn.com/t/c/font_3707996_thy6b906b8h.ttf?t=1683785614327') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}